# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Avoid upload of all the non-essential frontend mentor files
#################################################
# Avoid /design directory
/design

# Avoid Readme-template
README-template.md

# Avoid Style-guide
style-guide.md

# Avoid frontendmentor's readme.md
README.md