/********* css basic reset *******************/
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/********* custom font **********/
@font-face {
    font-family: interVariableFont;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  }

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: interVariableFont, Verdana, Geneva, Tahoma, sans-serif;
}

section{
    margin-bottom: .8rem;
}

h1{
    font-size: 42px;
}

/**** for responsive imgages ****/
img{
    max-width: 100%;
    height: auto;
}
.main-main{
    padding-top: unset;
}
p{
    color: hsl(236, 13%, 42%);
}

/********* style header section starts ******/
.header{
    padding-top: 1rem;
}

.navbar-desktop{
    display: none;
}

#nav-items{
    display: none;
}

.logo-items{
    display: flex;
    justify-content: space-between;
}

nav a{
    color: hsl(236, 13%, 42%);
}

.nav-items-active{
    color:hsl(5, 85%, 63%);
}

nav a:hover{
    color:hsl(5, 85%, 63%);
    font-weight: bold;
}

#nav-items li{
    padding: .5rem 0;
}

.logo-items-mobile-menu-icon{
    align-self: center;
}

/******** style header section ends ********/

h1, h2{
    padding-bottom: .5rem;
}

h3{
    padding-bottom: .3rem;
}

.wrapper-primary{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}

.main-aside{
    background-color: hsl(240, 100%, 5%);
    padding: 1rem;
}

.main-aside h3{
    padding-top: 1rem;
}

.main{
    margin-bottom: 2rem;
}

.main-aside h2{
    color: hsl(35, 77%, 62%);
}

.main-aside h3{
    color: hsl(36, 100%, 99%);
}

.cta-primary{
    padding: 1rem 2rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    font-weight: bold;
    margin: 1rem 0;
}

.cta-primary:hover{
    background-color: hsl(240, 100%, 5%);
    color:hsl(36, 100%, 99%);
}

.main-aside p{
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    color: lightgray;
    opacity: .8;
}

.main-aside h3:hover{
    color:hsl(35, 77%, 62%);
}

.aside-item-3 p{
    border-bottom: unset;
}

.news-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .3rem;
}

.news-items-img{
    grid-column: span 1;
}

.news-items-info{
    grid-column: span 2;
}

.news-items-info h2{
    color: hsl(5, 85%, 63%);
}

.news-items-info a{
    color: black;
}

.news-items-info a:hover{
    color:hsl(5, 85%, 63%);
}

/********* frontend atttribuition default style *****************/
.attribution{
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
}

.attribution a{
        color: hsl(228, 45%, 44%);
}

.attribution a:hover{
    color: hsl(5, 85%, 63%);
    font-weight: bold;
}

/******** media queries ************/
@media only screen and (min-width: 840px){
    .main, .news{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .main-main{
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .main-main picture{
        grid-column: span 2;
    }

    .main-main div{
        grid-column: span 1;
    }

    .main-aside{
        grid-column: span 1;
    }

    /****** style header for desktop here ******/
    .navbar-mobile{
        display: none;
    }
    
    .navbar-desktop{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .navbar-desktop-logo{
        grid-column: span 6;
    }

    .navbar-desktop-nav-items{
        grid-column: span 6;
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar-desktop-nav-items{
        display: flex;
        justify-content: space-between;
    }

}